<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>ResultJSP</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultJSP</servlet-name>
    <url-pattern>/role/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResultJSP</servlet-name>
    <url-pattern>/user/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResultJSP</servlet-name>
    <url-pattern>/time/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResultJSP</servlet-name>
    <url-pattern>/attr/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResultJSP</servlet-name>
    <url-pattern>/group/*</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Authz Protected Area</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>this is ignored currently</realm-name>
  </login-config>
  <security-role>
    <role-name>*</role-name>
  </security-role>
</web-app>